

<!--    Made by Erik Terwan    -->
<!--   24th of November 2015   -->
<!--    All rights reserved    -->
<nav role="navigation">
  <div id="menuToggle">
  
    <input type="checkbox"/>

   
    <span></span>
    <span></span>
    <span></span>

    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->

                <ul id="menu">
                        <li *ngIf="user">
                            <a ><i class="fa fa-fw fa-user"> {{user.first_name}}</i></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a routerLink="/karibu/mwanzo/ingia"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
  </div>
</nav>
