<div class="containermajor">
  <div class="container petitions">
    <h3><strong>Afya</strong> {{street.name}}</h3>
    <hr>

    <div class="seethroughbox"></div>
    <div class="card" *ngFor="let lalamiko of malalamiko" >
    <div class="row">
      <div class="col-sm-2 date">
        <h6>{{lalamiko.created_at}}</h6>
      </div>
      <div class="col-sm-9 mytext">
        <p>{{lalamiko.title}}</p>
        <div class="row">
          <!--<div class="col-sm-4 wadhifa">Kwa: Mwenyekiti Mlalakua</div>-->
          <!--<div class="col-sm-4 lengo">Wananchi walio afiki: <span id="idadi">1200</span>/<span id="lengo">3000</span></div>-->
          <div class="col-sm-4">
            <div id="progressbar">
              <div id="barfill"></div>
            </div>
          </div>
        </div>

        <div class="maelezo">{{lalamiko.description}} ...
        </div>

        <br><br><br><br><br>
        <br>
        <!--<button class="default" type="button" onclick="incrementi()"> Ninaafiki Mada </button>-->
      </div>
    </div>
    </div>
  </div>
</div>

