<div class="containermajor">
  <div class="container petitions">
    <h3><strong>Afya</strong> Mlalakua</h3>
    <hr>
    <div class="seethroughbox"></div>
    <div class="row">
      <div class="col-sm-2 date">
        <h6>28th January</h6><h3>2017</h3>
      </div>
      <div class="col-sm-9 mytext">
        <p>Uongozi wa serikali ya mtaa wa Mlalakua uongeze fungu lililo tengwa kwaajili ya ujenzi wa kliniki ya wakina mama wajawazito.</p>
        <div class="row">
          <div class="col-sm-4 wadhifa">Kwa: Mwenyekiti Mlalakua</div>
          <div class="col-sm-4 lengo">Wananchi walio afiki: <span id="idadi">1200</span>/<span id="lengo">3000</span></div>
          <div class="col-sm-4">
            <div id="progressbar">
              <div id="barfill"></div>
            </div>
          </div>
        </div>

        <div class="maelezo"> Sed ut perspiciatis unde omnis iste orem ipsum, ectuer iscing elit. Sed ut perspiciatis perspiciatis unde omnis iste orem ipsum, ectuer iscing elit.omnis iste orem ipsum Sed ut perspiciatis unde omnis iste orem ipsum, ectuer iscing elit. Sed ut perspiciatis perspiciatis unde omnis iste orem ipsum, ectuer...
        </div>

        <br><br><br><br><br>
        <br>
        <button class="default" type="button" onclick="incrementi()"> Ninaafiki Mada </button>
      </div>
    </div>

    <h3><strong>Miradi</strong> Mlalakua</h3>
    <hr>
    <div class="seethroughbox"></div>
    <div class="row">
      <div class="col-sm-2 date">
        <h6>16th January</h6><h3>2017</h3>
      </div>
      <div class="col-sm-9 mytext">
        <p>Uongozi wa serikali ya mtaa wa Mlalakua uongeze fungu lililo tengwa kwaajili ya ujenzi wa kliniki ya wakina mama wajawazito.</p>
        <div class="row">
          <div class="col-sm-4 wadhifa">Kwa: Mwenyekiti Mlalakua</div>
          <div class="col-sm-4 lengo">Wananchi walio afiki: <span id="idadi1">1450</span>/<span id="lengo1">2000</span></div>
          <div class="col-sm-4">
            <div id="progressbar">
              <div id="barfill1"></div>
            </div>
          </div>
        </div>

        <div class="maelezo"> Sed ut perspiciatis unde omnis iste orem ipsum, ectuer iscing elit. Sed ut perspiciatis perspiciatis unde omnis iste orem ipsum, ectuer iscing elit.omnis iste orem ipsum Sed ut perspiciatis unde omnis iste orem ipsum, ectuer iscing elit. Sed ut perspiciatis perspiciatis unde omnis iste orem ipsum, ectuer...
        </div>

        <br><br><br><br><br>
        <br>
        <button class="default" type="button" onclick="increment1()"> Ninaafiki Mada </button>
      </div>
    </div>

    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br>
  </div>
</div>
