
<div class="container-fluid">
  <div class="tuma row" >
    <div class="leader col-sm-12 col-md-1 col-lg-1"  >
      <button type="button" class="btn btn-lg btn-round"><a routerLink="/kiongozi/tuma" ><span class="glyphicon  glyphicon-menu-left " aria-hidden="true"></span></a></button>
    </div>
    <div class="ldr col-sm-12 col-md-11 col-lg-11">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <h3 ><strong >{{position.position_name}} </strong> mtaa wa {{street.name}}&emsp;&emsp;&emsp;&emsp;</h3>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" >
          <a routerLink="/kiongozi/tuma/ripoti/andika"><button class="btn btn-success" type="button">Tuma Ripoti</button></a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <a routerLink="/kiongozi/tuma/ripoti/ripoti-zilizotumwa"><button class="btn btn-success" type="button">Taarifa Nilizoandika</button></a>

        </div>

      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>




