
<div class="container" *ngIf="report">

    <div class="row page">
    <div class="col-sm-12 mytext">
      <div class="maelezo"><strong>utangulizi: </strong>{{report.title}} </div>
    </div>
    <div class="col-sm-12 mytext">
      <div class="maelezo"><strong>Ripoti: </strong> {{report.description}} </div>
    </div>
  </div>
  <div class="tarifa center" >
    <img id="image" *ngIf="loading" src="assets/images/5.gif" >
    <form id="contact" *ngIf="!loading" >
      <fieldset>
        <input type="text" name="title" placeholder="Utangulizi wa ripoti" [(ngModel)]="report.title">
      </fieldset>

      <fieldset>
        <textarea placeholder="Andika ripoti kamili...." tabindex="5" required [(ngModel)]="report.description" name="description"></textarea>
      </fieldset>
      <p><button (click)="update()"  class="btn btn-success pull-right">Rekebisha Ripoti</button>
    </form>
  </div>
</div>
