.btn-round {
  background-color: #008080;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.btn.btn-success{
  background-color:#008080;
  border-color:#008080 ;
  color: white;


}
.tuma.row{
  margin-top: 90px;
}
.ldr.col-sm-12.col-md-11.col-lg-11{
  border-bottom: 2px solid gray;
  margin-top: 50px;

}
.col-lg-4.col-md-4.col-sm-12.col-xs-12{
  margin-bottom: 10px;
}
.leader.col-sm-12.col-md-1.col-lg-1{
  padding-left: 30px;
  margin-top: 50px;

}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #F5F5DC;
  resize: none;
}

fieldset input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #F5F5DC;
}

.pendekezo.btn-success{
  float: right;
  background-color:#008080;
  margin-top: 2px;
}
.glyphicon.glyphicon-menu-left {
  color:white;
}
#image{
  position: absolute;
  left: 600px;
}
@media(min-width:760px) {
  .tarifa.center {
    top: 151px;
    border: none;
    border-radius: 0;
    /*overflow-y: auto;*/
    /*bottom: 0;*/
    /*overflow-x: hidden;*/


  }

  .tarifa.center {
    margin: auto;
    width: 760px;
    border: 3px solid #F5F5DC;
    /*padding: 100px;*/
    background-color: #F5F5DC;
    /*margin-top:5em;*/

  }
  /*.side-nav li a:hover,*/
  /*.side-nav li a:focus {*/
  /*outline: none;*/
  /*background-color: #c2c2a3;*/

  /*}*/
}
