<div class="container-fluid">
  <div class="tuma row" >
    <div class="leader col-sm-1 col-md-1 col-lg-1"  > <a routerLink="/kiongozi/tuma" class="btn btn-lg btn-round"><span class="glyphicon  glyphicon-menu-left " aria-hidden="true"></span></a></div>
  <div class="ldr col-sm-11 col-md-11 col-lg-11"><h1><strong >Mtendaji </strong>Mlalakua&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<em>Chapa mapendekezo</em></h1>
  </div>
</div>
<div class="tarifa center">
  <p>Orodha ya mapendekezo</p>
  <form id="contact" action="" method="post">
    <fieldset>
      <input type="text" name="fname" placeholder="1.">
    </fieldset>
    <fieldset>
      <input type="text" name="fname" placeholder="2.">
      <div class="zaid">
        <a href="#pende.html" class="pendekezo btn btn-success" >Zaidi</a>
      </div>
    </fieldset>
    <p>Mwisho wa kupokea maoni</p>
    <fieldset>
      <input type="text" name="fname" placeholder="Tarehe">
    </fieldset>
    <p><a href="#" class=" pendekezo btn btn-success">chapa mapendekezo</a></p>

  </form>
</div>
</div>


