  <div class="container options" *ngIf="model" style="margin-top: 100px">
    <div class="row page">
      <div class="col-sm-12 mytext">
        <div class="maelezo"><strong>utangulizi: </strong>{{model.title}} </div>
      </div>
      <div class="col-sm-12 mytext">
        <div class="maelezo"><strong>Ripoti: </strong> {{model.description}} </div>
      </div>
    </div>
    <div class="tarifa center">

      <form>
        <label for="category">Chagua kundi la malalamiko yako </label>
        <select id="category" class="textfield" [(ngModel)]="model.petition_category_id" name="category_id">
          <option *ngFor="let category of petitionCategories" [ngValue]="category.id">{{category.name}}</option>
        </select>
        <br>
        <fieldset>
          <input type="text" name="title" text=" Maelezo ya mada kwa ufupi" placeholder="Maelezo ya mada kwa ufupi" [(ngModel)]="model.title">
        </fieldset>
        &emsp;
        &emsp;
        <fieldset>
          <textarea name="description" placeholder="Maelezo kwa urefu.." tabindex="5" required  [(ngModel)]="model.description"></textarea>
        </fieldset>
        <button class="btn btn-success pull-right" type="button"  (click)="update()">Rekebisha Malalamiko</button>
      </form>
    </div>
</div>
