<div class="containermajor">
  <div class="container petitions" *ngFor="let ujumbe of ujumbes" (click)="onSelect(ujumbe)">
    <div class="seethroughbox"></div>
    <div class="row">
      <div class="col-sm-2 date">
        <h6>{{ujumbe.created_at}}</h6>
        <!--<h3 style="letter-spacing: 6px;">2017</h3>-->
      </div>
      <div class="col-sm-9 mytext">
        <div class="maelezo">{{ujumbe.body}}</div>
        <br><br>
      </div>
    </div>
    <div class="container" >
      <button style="  font-size: 10px;
        color: white;
        float:right;
        height: 40px;
        width:100px;
        padding-top: 6px;
        margin-left: 30px;
        border-radius: 5px;
        background-image: url(assets/images/send-button-strip-m.jpg);
        background-repeat: repeat-x;
        " type="button" (click)="deleteUjumbe(ujumbe); $event.stopPropagation()">
        Ondoa
      </button>
      <button style="  font-size: 10px;
        color: white;
        float:right;
        height: 40px;
        width:100px;
        padding-top: 6px;
        border-radius: 5px;
        background-image: url(assets/images/send-button-strip-m.jpg);
        background-repeat: repeat-x;

        " type="button"  [routerLink]="['/kiongozi/tuma/ujumbe/rekebisha',ujumbe.id]">
        Rekebisha
      </button>


    </div>

    <br><br><br>
  </div>
</div>
<!-- end of main section-->
