<div class="tarifa center">
  <form id="contact" action="" method="post">
    <fieldset>
      <input type="text" name="fname" placeholder="Utangulizi wa ripoti" ng-model="data.introduction">
    </fieldset>
    <input type="checkbox" name="vehicle" value="Bike" ng-model="data.introduction">Andika ripoti&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <input type="checkbox" name="vehicle" value="Bike" ng-model="data.introduction">pakia faili
    <fieldset>
      <textarea placeholder="Andika ripoti kamili...." tabindex="5" required ng-model="data.descriptions"></textarea>
    </fieldset>
    <p><button type="submit" class="btn btn-success pull-right">chapa ripoti</button></p>

  </form>
</div>
