<div class="page1">
<div class="row">
  <div class="col-lg-8 col-md-8">
    <div class="container-fluid showbox">

      <div class="greendisplay">

        <div id="myiCarousel" class="carousel slide carouselgreendisplay" data-ride="carousel">

          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner" role="listbox">
            <div class="item active description">
              <h3>Tuma taarifa za kufanya usafi</h3>
              <p><em>"fikisha taharifa muhimu, ujumbe mfupi, mapendekezo ya bajeti.."</em></p>
            </div>

            <div class="item description">
              <h3>Elimu ni ufunguo wa maisha</h3>
              <p><em>"pokea mrejesho wa ripoti, taarifa au ujumbe ulio utuma...  L ectuer iscing elit."</em></p>
            </div>

            <div class="item description">
              <h3>Tunza mazingira yakutunze</h3>
              <p><em>"fahamu maoni ya wananchi... Loremed ut , ectuer iscing elit."</em></p>
            </div>
          </div>
        </div>
      </div>
      <div class="screens">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img  src="assets/images/images.jpg" alt="Chania" class="responsive">
            </div>

            <div class="item">
              <img src="assets/images/images2.jpg" alt="Chania" class="responsive" >
            </div>

            <div class="item">
              <img src="assets/images/img3.jpg" alt="Flower" class="responsive" >
            </div>

          </div>
        </div>
        <!--  carousel -->
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <router-outlet></router-outlet>
  </div>
</div>
</div>





