<div class="tarifa center"  >
  <img id="image" *ngIf="loading" src="assets/images/5.gif"  >
  <form  *ngIf="!loading">
    <!--<label for="category">Chagua kundi lakufikiwa na ujumbe {{model.category_id}}</label>-->
    <!--<select id="category" [(ngModel)]="model.category_id" name="category_id">-->
      <!--<option *ngFor="let category of ujumbeCategory" [ngValue]="category.id">{{category.category_name}}</option>-->
    <!--</select>-->
    <fieldset>
      <input type="text"  placeholder="Utangulizi wa ujumbe"  required [(ngModel)]="model.title" name="title">
    </fieldset>
    <fieldset>
      <textarea placeholder="Maelezo kwa urefu...." tabindex="5" required [(ngModel)]="model.body" name="body"></textarea>
    </fieldset>

    <a><button  type="submit" class="btn btn-success pull-right" (click)="addUjumbe()">Tuma Tangazo</button></a>

  </form>
</div>
