
<header id="header" xmlns="http://www.w3.org/1999/html">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" (click)="toggleState()" style="background-color: inherit">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>


        <!--<div class="Tlogo" style=" margin-right: 20px;"><h3 >Smart<span>Mtaa</span></h3>-->
          <a class="navbar-brand" href="#">
            <div id="Tlogo">
              <h3 >Smart<span>Mtaa</span></h3>
            </div>
          </a>
</div>
      <div class="collapse navbar-collapse" [ngClass]="{ 'in': isIn }">
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/karibu" routerLinkActive="active">MWANZO</a></li>
            <li><a routerLink="/karibu/kuhusu" routerLinkActive="active">kuhusu smartmtaa</a></li>
          <li class="dropdown"><a  data-toggle="dropdown">JISAJILI<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/karibu/mwanzo/jisajili-kiongozi" routerLinkActive="active">KIONGOZI</a></li>
              <li><a routerLink="/karibu/mwanzo/jisajili-mwananchi" routerLinkActive="active">MWANANCHI</a></li>
            </ul>
          </li>
          </ul>
      </div>
    </div>
  </nav>
</header>

