input[type=text], input[type=password] {
  width: 200px;
  padding: 12px 12px;
  margin: 4px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btn.btn-success{
  background-color: #008080;
  color: white;
  padding: 14px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 90px;
}

button:hover {
  opacity: 0.8;
}
