<div class="containermajor">
  <div class="container petitions">
    <h2><span style=" font-weight: bold;">Mtendaji</span> Mlalakua </h2>
    <hr>
    <div class="seethroughbox"></div>

    <!--bella start-->
    <div class ="container">
      <div class ="container">
        <div  class="col-sm-6 ">
          <div style="background-color:cadetblue;
    width: 300px;
    border: 90px solid cadetblue;
    margin: 50px;
    color:white;
">Maoni ya bajeti</div>
          <div style="width:300px;margin-left:50px; font-weight: bold;">Fahamu wananchi wana maoni yapi kuhusu mambo ya kupewa kipaumbele katika bajeti ya serikali ya mtaa</div>
        </div>

        <div  class="col-sm-6 ">
          <div style="background-color: cadetblue;
    width: 300px;
    border: 90px solid cadetblue;
    margin: 50px;
    color:white;
">Maoni ya ripoti</div>
          <div style="width:300px;margin-left:50px; font-weight: bold;">Fahamu mwitikio wa wananchi kwa ripoti zinazotolewa na uongozi wa serikali za mitaa</div>
        </div>
      </div>
    </div>
  </div>
</div>
