<div class="container-fluid">
  <div class="tuma row" >
    <div class="leader col-sm-1 col-md-1 col-lg-1"  > <button type="button" class="btn btn-lg btn-round"><a routerLink="/kiongozi/tuma" ><span class="glyphicon  glyphicon-menu-left " aria-hidden="true"></span></a></button>
    </div>
    <div class="ldr col-sm-11 col-md-11 col-lg-11">
      <h1>
        <small><strong >Mtendaji </strong>
          Mlalakua&emsp;&emsp;&emsp;&emsp;</small>
        <small><em><a routerLink="/kiongozi/tuma/ujumbe/andika">Tuma Ujumbe</a></em></small>
        &emsp;&emsp;<small><em><a routerLink="/kiongozi/tuma/ujumbe/uliotumwa">Ujumbe Nilizoandika</a></em></small>


      </h1>
    </div>
  </div>
 <router-outlet></router-outlet>
</div>




