  <h2>Yafuatayo ni Matangazo yote Yaliyo Tumwa</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>utangulizi</th>
                                        <th>maelezo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let tangazo of matangazo">
                                        <td>{{tangazo.title}}</td>
                                        <td>{{tangazo.body}}</td> 
                                    </tr>
                                </tbody>
                            </table>
                        </div>