<div class="row">

  <div class="archive col-sm-1">
  </div>

  <div class="container ripoti col-sm-11">
    <h3><em>Mlalakua</em></h3>
    <hr>
    <div class="seethroughbox"></div>
    <div class="row">
      <div class="col-sm-2 date">
        <h3>M/Kiti</h3><h6>28th January 2017</h6>
      </div>
      <div class="col-sm-9 mytext">
        <p><strong>Tangazo la kufanyika kwa mkutano mkuu wa mtaa wa Mlalakua ukihusisha wananchi wote, kujadili ripoti ya mapao na matumizi ya mwaka wa bajeti uliopita na kuweka mikakati mipya.</strong></p>

        <div class="maelezo"> Sed ut perspiciatis unde omnis iste orem ipsum, ectuer iscing elit. Sed ut perspiciatis perspiciatis unde omnis iste orem ipsum, ectuer iscing elit.omnis iste orem ipsum Sed ut perspiciatis unde omnis iste orem ipsum, ectuer iscing elit. Sed ut perspiciatis perspiciatis unde omnis iste orem ipsum, ectuer. ipsum, ectuer iscing elit. Sed ut perspiciatis perspiciatis unde omnis iste orem ipsum, ectuer iscing elit.omnis iste orem ipsum Sed ut perspiciatis unde omnis iste orem ipsum, ectuer iscing elit.ipsum, ectuer iscing elit. Sed ut perspiciatis perspiciatis unde omnis iste orem ipsum, ectuer iscing elit.omnis iste orem ipsum Sed ut perspiciatis unde omnis iste orem ipsum, ectuer iscing elit. orem ipsum, ectuer iscing elit.omnis iste orem ipsum Sed ut perspiciatis unde omnis iste orem ipsum, ectuer iscing elit. Sed ut perspiciatis perspiciatis...
        </div>

        <br><br><br>
        <br><br><br>
      </div>

      <div class="col-sm-2 date">
        <h3>Mtendaji</h3><h6>29th December 2016</h6>
      </div>
      <div class="col-sm-9 mytext">
        <p><strong>Tangazo la kuanza kwa mchakato wa ukusanyaji wa maoi ya raia wa mtaa wa Mlalakua juu ya mambo ya kupewa kipaumbele kwenye bajeti ijayo.</strong></p>

        <div class="maelezo"> Sed ut perspiciatis unde omnis iste orem ipsum, ectuer iscing elit. Sed ut perspiciatis perspiciatis unde omnis iste orem ipsum, ectuer iscing elit.omnis iste orem ipsum Sed ut perspiciatis unde omnis iste orem ipsum, ectuer iscing elit. Sed ut perspiciatis perspiciatis unde omnis iste orem ipsum, ectuer. ipsum, ectuer iscing elit. Sed ut perspiciatis perspiciatis unde omnis iste orem ipsum, ectuer iscing elit.omnis iste orem ipsum Sed ut perspiciatis unde omnis iste orem ipsum, ectuer iscing elit.ipsum, ectuer iscing elit. Sed ut perspiciatis perspiciatis unde omnis iste orem ipsum, ectuer iscing elit.omnis iste orem ipsum Sed ut perspiciatis unde omnis iste orem ipsum, ectuer iscing elit. orem ipsum, ectuer iscing elit.omnis iste orem ipsum Sed ut perspiciatis unde omnis iste orem ipsum, ectuer iscing elit. Sed ut perspiciatis perspiciatis...
        </div>

        <br><br><br>
        <br><br>
      </div>
    </div>
  </div>
</div>
