<div class="row">

  <div class="archive col-sm-1">
  </div>

  <div class=" ripoti col-sm-11">
    <h3><em>Mlalakua</em></h3>
    <hr>
    <div class="seethroughbox"></div>
    <div class="row" *ngFor="let taarifa of taarifas">
      <div class="col-sm-2 date">
        <h3>M/Kiti</h3><h6>{{taarifa.created_at}}</h6>
      </div>
      <div class="col-sm-9 mytext">
        <p><strong>{{taarifa.title}}</strong></p>

        <div class="maelezo">{{taarifa.description}}</div>

        <br><br><br>
        <br><br><br>
      </div>


    </div>
  </div>
</div>
