<div class="row">

  <div class="archive col-sm-1">
  </div>

  <div class=" ripoti col-sm-11">
    <h3><em>Mlalakua</em></h3>
    <hr>
    <div class="seethroughbox"></div>
    <div class="row" *ngFor="let tangazo of matangazo">
      <div class="col-sm-2 date">
        <h3>{{tangazo.position_name}}</h3><h6>{{tangazo.created_at}}</h6>
      </div>
      <div class="col-sm-9 mytext">
        <p><strong>{{tangazo.title}}</strong></p>

        <div class="maelezo">{{tangazo.body}}</div>

        <br><br><br>
        <br><br><br>
      </div>


    </div>
  </div>
</div>
