<div class="containermajor">
  <div class="container petitions">
    <div class="seethroughbox"></div>
    <div class="row">
      <div class="col-sm-2 date">
        <h6>28th January</h6><h3 style="letter-spacing: 6px;">2017</h3>
      </div>
      <div class="col-sm-9 mytext">
        <p><strong>Tangazo la kufanyika kwa mkutano mkuu wa mtaa wa Mlalakua ukihusisha wananchi wote, kujadili ripoti ya mapao na matumizi ya mwaka wa bajeti uliopita na kuweka mikakati mipya.</strong></p>

        <div class="maelezo"> Sed ut perspiciatis unde omnis iste orem ipsum, ectuer iscing elit. Sed ut perspiciatis perspiciatis unde omnis iste orem ipsum, ectuer iscing elit.omnis iste orem ipsum Sed ut perspiciatis unde omnis iste orem ipsum, ectuer iscing elit. Sed ut perspiciatis perspiciatis unde omnis iste orem ipsum, ectuer. ipsum, ectuer iscing elit. Sed ut perspiciatis perspiciatis unde omnis iste orem ipsum, ectuer iscing elit.omnis iste orem ipsum Sed ut perspiciatis unde omnis iste orem ipsum, ectuer iscing elit.ipsum, ectuer iscing elit. Sed ut perspiciatis perspiciatis unde omnis iste orem ipsum, ectuer iscing elit.omnis iste orem ipsum Sed ut perspiciatis unde omnis iste orem ipsum, ectuer iscing elit. orem ipsum, ectuer iscing elit.omnis iste orem ipsum Sed ut perspiciatis unde omnis iste orem ipsum, ectuer iscing elit. Sed ut perspiciatis perspiciatis...
        </div>

        <br><br>
      </div>
    </div>
    <div class="container">
      <button style="  font-size: 10px;
        color: white;
        float:right;
        height: 40px;
        width:100px;
        padding-top: 6px;
        margin-left: 30px;
        border-radius: 5px;
        background-image: url(assets/images/send-button-strip-m.jpg);
        background-repeat: repeat-x;
        "  type="button" onclick="Maoni yako yametumwa">Ondoa</button>


      <button style="  font-size: 10px;
        color: white;
        float:right;
        height: 40px;
        width:100px;
        padding-top: 6px;
        border-radius: 5px;
        background-image: url(assets/images/send-button-strip-m.jpg);
        background-repeat: repeat-x;
        "  type="button" >Rekebisha</button>


    </div>

    <br><br><br>
  </div>
</div>
<!-- end of main section-->
