<div class="containermajor">
  <div class="container petitions" *ngFor="let report of reports">
    <div class="seethroughbox"></div>
    <div class="row">
      <div class="col-sm-2 date">
        <h6>{{report.created_at}}</h6>
      </div>
      <div class="col-sm-9 mytext">
        <p><strong>{{report.title}}</strong></p>

        <div class="maelezo">{{report.description}}</div>

        <br><br>
      </div>
    </div>
    <div class="container">
      <button style="  font-size: 10px;
        color: white;
        float:right;
        height: 40px;
        width:100px;
        padding-top: 6px;
        margin-left: 30px;
        border-radius: 5px;
        background-image: url(assets/images/send-button-strip-m.jpg);
        background-repeat: repeat-x;
        "  type="button" (click)="deleteReport(report); $event.stopPropagation()">Ondoa</button>


      <button style="  font-size: 10px;
        color: white;
        float:right;
        height: 40px;
        width:100px;
        padding-top: 6px;
        border-radius: 5px;
        background-image: url(assets/images/send-button-strip-m.jpg);
        background-repeat: repeat-x;
        "  type="button"  [routerLink]="['/kiongozi/tuma/ripoti/hariri-ripoti',report.id]">Rekebisha</button>


    </div>

    <br><br><br>
  </div>
</div>
<!-- end of main section-->
