<div id="search-component">
<input type="text" [(ngModel)]="term">
    <div style="max-height:100px; overflow:auto">
        
            <div *ngFor = "let item of items |filter:term" (click)="gotoStreetDetail(item)">
                <p>
                  {{item.name}}
                </p>
            </div>
    </div>
    <div style="position:absolute; left:85%; bottom:80%">
       <button><a routerLink="/karibu/mwanzo/ingia">Ingia</a></button>
     </div> 


  <!--<h4>Tafuta Mtaa wako</h4>
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  <div>
   <div *ngFor=" let street of results | async"
      (click)="gotoStreetDetail(street)" class="search-result" >
        {{street.name}}
     </div>
     <div style="position:absolute; left:85%; top:100%">
       <button><a routerLink="/karibu/mwanzo/ingia">Ingia</a></button>
     </div>
  </div>-->
</div>