<div class="container">

  <div class="pagetitle">
    <p><strong>Mtendaji</strong> Mlalakua</p>
    <hr>
  </div>
  <div class="row">


    <div class="col-sm-3 text-center ">
      <div class="row">
        <div class="box " routerLink="taarifa">
          <h3>Taarifa</h3>

          <span class="glyphicon glyphicon-volume-up icone "></span>
        </div>
      </div>

      <p class="text">Fikisha taarifa muhimu kwa wananchi kwa haraka na wepesi. Lorem ipsum, ectuer iscing elit. </p>

    </div>
    <!-- end of first block -->
    <div class="col-sm-3 text-center onecolumn">
      <div class="row">
        <div class="box circle" routerLink="ripoti">
          <h3>Ripoti</h3>
          <span class="glyphicon glyphicon-list-alt icone "></span>
        </div>
      </div>

      <p class="text">Fikisha taarifa muhimu kwa wananchi kwa haraka na wepesi. Sed ut perspiciatis unde omnis iste </p>

    </div>
    <!-- end of second block -->
    <div class="col-sm-3 text-center onecolumn">
      <div class="row">
        <div class="box " routerLink="ujumbe">
          <h3>Ujumbe</h3>
          <span class="glyphicon glyphicon-envelope icone"></span>
        </div>
      </div>

      <p class="text">Fikisha taarifa muhimu kwa wananchi kwa haraka na wepesi. Sed ut perspiciatis</p>

    </div>
    <!-- end of third block -->
    <div class="col-sm-3 text-center onecolumn">
      <div class="row">
        <div class="box " routerLink="mapendekezo">
          <h3>Mapendekezo</h3>
          <span class="glyphicon glyphicon-check icone "></span>
        </div>
      </div>

      <p class="text">Fikisha taarifa muhimu kwa wananchi kwa haraka na wepesi. Sed ut perspiciatis</p>

    </div>
    <!-- end of fourth block -->


  </div>
  <br><br><br>
  <hr>
</div>


