<!--<div class="container options">-->
   <!--<div class="row">-->
     <!--<div class="col-sm-3 text-center">-->
       <!--<button class="box" type="button" name="afya">-->
         <!--<p><strong>Afya</strong></p>-->
       <!--</button>-->
     <!--</div>-->

     <!--<div class="col-sm-3 text-center">-->
        <!--<button class="box" type="button" name="shule">-->
         <!--<p><strong>Shule</strong></p>-->
       <!--</button>-->
     <!--</div>-->

     <!--<div class="col-sm-3 text-center">-->
        <!--<button class="box" type="button" name="miundo mbinu">-->
         <!--<p><strong>Miundo mbinu</strong></p>-->
       <!--</button>-->
     <!--</div>-->

     <!--<div class="col-sm-3 text-center">-->
        <!--<button class="box" type="button" name="makazi">-->
         <!--<p><strong>Makazi</strong></p>-->
       <!--</button>-->
     <!--</div>-->
   <!--</div>-->

     <!--&lt;!&ndash; first row ends here &ndash;&gt;-->

   <!--<div class="row">-->
     <!--<div class="col-sm-3 text-center">-->
        <!--<button class="box" type="button" name="usafi">-->
         <!--<p><strong>Usafi</strong></p>-->
       <!--</button>-->
     <!--</div>-->

     <!--<div class="col-sm-3 text-center">-->
        <!--<button class="box" type="button" name="miradi">-->
         <!--<p><strong>Miradi</strong></p>-->
       <!--</button>-->
     <!--</div>-->

     <!--<div class="col-sm-3 text-center">-->
       <!--<button class="box" type="button" name="usalama">-->
         <!--<p><strong>Usalama</strong></p>-->
       <!--</button>-->
     <!--</div>-->

     <!--<div class="col-sm-3 text-center">-->
       <!--<button class="box" type="button" name="mengineyo">-->
         <!--<p><strong>Mengineyo</strong></p>-->
       <!--</button>-->
     <!--</div>-->
   <!--</div>-->
     <!--&lt;!&ndash; second row ends here &ndash;&gt;-->

   <!--<form>-->
      <!--<textarea class="textfield" name=" Maelezo ya mada kwa ufupi" text=" Maelezo ya mada kwa ufupi" placeholder="     Maelezo ya mada kwa ufupi" cols="80" rows="1"></textarea>-->
      <!--<br>-->
      <!--<textarea class="textfield" name="Mlengwa" placeholder="    Kinongozi Mlengwa" cols="80" rows="1"></textarea>-->
      <!--<br>-->
      <!--<textarea class="textarea" rows="3" cols="80"  placeholder="    Maelezo zaidi..." ></textarea>-->
      <!--<br>-->
      <!--<input type="radio" name="mass support" value="idadi"><em>  Nnahitaji uungwaji mkono kutoka kwa wananchi</em> <textarea class="idadi" name="Idadi" cols="10" rows="1">-->
          <!--Idadi-->
      <!--</textarea>-->

      <!--<button class="button" type="button" onclick="Maoni yako yametumwa">Tuma</button>-->
   <!--</form>-->
 <!--</div>-->
    <!--&lt;!&ndash; Dua zilizo wasilishwa na wananchi wengine &ndash;&gt;-->
    <!--<new-dua></new-dua>-->
