<div class=" container"  style="margin-top: 7em">
  <div class="row" >
  <section class="about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="Heading-title-left black small-heading">
              <h3>Unataka kujua kuhusu smart mtaa fuatilia maelezo hapo chini</h3>
            </div>
          </div>
          <div class="col-md-8 col-sm-12 col-xs-12">
            <p>Smart mtaa ni mfumo unaokusudia kufikisha ujumbe,taarifa,na ripoti mbalimbali kwa wananchi wa mtaa husika na pia kuwapa wanchi nafasi kutoa malalamiko yao pale wanapohitaji msaada.  </p>
            <blockquote>Hii nikusaidia kurahisisha jamii katika kuwasiliana na kujua kila jambo linaloendelea kaika mtaa wowote.Smart mtaa kwa maendeleo ya jamii yetu... !</blockquote>
            <section class="team">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="Heading-title black">
                      <h3>Kusuhu smart mtaa inavounganisha viongozi na wananchi wake:</h3>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="team-member">
                      <div class="team-img col-pic1">
                        <div class="team-intro light-txt">
                          <h4>Mwenyekiti</h4>
                        </div>
                        <div class="team-hover">
                          <div class="desk">
                            <p>Mwenyekiti wa mtaa anaweza:</p>
                            <ul>
                              <li>kujisajili</li>
                              <li>kutuma matangazo,</li>
                              <li>kutoa ripoti kwa wananchi</li>
                              <li>kutuma ujumbe mfupi kwa wananchi wake</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="team-member">
                      <div class="team-img col-pic1">
                        <div class="team-intro light-txt">
                          <h4>Mtendaji</h4>
                        </div>
                      </div>
                      <div class="team-hover">
                        <div class="desk">
                          <p>mtendaji wa mtaa anahusika na:</p>
                          <ul>
                            <li>kujisajili</li>
                            <li>kushughulikia shughuli zote zinazohusiana na mtaa husika</li>
                            <li>kushughulikia taarifa zote za mikutano katika mtaa husika</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="team-member">
                      <div class="team-img">
                        <div class="team-intro light-txt">
                          <h4>Mwananchi</h4>
                        </div>
                      </div>
                      <div class="team-hover">
                        <div class="desk">
                          <p>mwanachi anauwezo kufanya yafuatayo:</p>
                          <ul>
                            <li>wakujisajili </li>
                            <li> kuona matangazo yote yanayptolewa na mjumbe na mwenyekiti,</li>
                            <li> wakutuma malalamiko kusuhu matatizo yanayoikumba jamii</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 hidden-sm"> <img  style=" margin-bottom: 5em" width="500" height="300" src="./assets/images/mk2.jpg" alt="" class="img-responsive"> </div>
        </div>
      </div>
    </div>
  </section>
  </div>
</div>
