
.petitions {
     margin-top: 90px;
     width: 80%;
 }

 .petitions h3 {
     margin-bottom: 0px;
 }

 .default {
     margin-bottom: 2px;
     font-size: 18px;
     color: #ffffff;
     width: 125px;
     height: 40px;
     padding-top: 6px;
     margin-left: 150px;
     background-image: url(/assets/images/send-button-strip-m.jpg);
     background-repeat: repeat-x;
     border-radius: 5px;
 }

 .primary {
     margin-top: 9px;
     background: none;
     color: cadetblue;
     border: none;
 }

 .check {
     background-color: none;
     background: none;
     border: none;
 }

 hr {
     background-color: #820912;
     height: 2px;
     margin-top: 5px;
 }
