<div class="containermajor">
    <div class="container petitions">
   <h3>Maswala ya kupewa kipaumbele kwenye bajeti ya mtaa wa Mlalakua 2017/2018 </h3>
   <hr>
   <div class="seethroughbox"></div>
   <div class="row chaguzi">
     <p id="1"></p><br>
     <p id="2"></p><br>
     <p id="3"></p><br>
     <p id="4"></p><br>
     <p id="5"></p><br>
     <p id="6"></p><br>
     <br><br>

       <div class="row chaguzicontrolers">
          <div class="col-sm-4">
             <h6>* Fanya walau chaguo moja  </h6>
          </div>
          <div class="col-sm-4">
             <button class="default" type="button"> Wasirisha </button>
          </div>
          <div class="col-sm-4">
             <button class="primary" type="button" onclick="reset ()">Rudia kuchagua</button>
          </div>
       </div>

   </div>
   <hr>
    <fieldset>
      <div class="item" id="1a">
        <button class="check" onclick="select ()"><input type="checkbox" id="1i"></button>
        <label for="1i" id="11">  Ununuzi wa vitendea kazi kwenye zahanati kuu ya mtaa.</label>
      </div>
      <div class="item" id="2b">
        <button class="check" onclick="select1 ()"><input type="checkbox" id="2i"></button>
        <label for="2i" id="22">  Kuongeza vyoo kwenye shule ya msingi Amani.</label>
      </div>
      <div class="item" id="3c">
        <button class="check" onclick="select2 ()"><input type="checkbox" id="3i"></button>
        <label for="3i" id="33">  Mradi wa soko la kisasa mtaani Mlalakua.</label>
      </div>
      <div class="item" id="4d">
        <button class="check" onclick="select3 ()"><input type="checkbox" id="4i"></button>
        <label for="4i" id="44">  Ukarabati wa mfumo wa maji taka.</label>
      </div>
      <div class="item" id="5e">
        <button class="check" onclick="select4 ()"><input type="checkbox" id="5i"></button>
        <label for="5i" id="55">  Orporis suscipit laboriosam, nisi ut aliquid ex ea.</label>
      </div>
      <div class="item" id="6f">
        <button class="check" onclick="select5 ()"><input type="checkbox" id="6i"></button>
        <label for="6i" id="66">  Orporis suscipit laboriosam, nisi ut aliquid ex ea.</label>
      </div>
    </fieldset>
   <br><br>
   <br><br>
   <br><br>
   <br>
 </div>
</div>
