


<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Smart<span>Mtaa</span></h3>

    <p class="footer-links">
      <a  routerLink="/karibu" routerLinkActive="active">Mwanzo</a>
       <a routerLink="/karibu/kuhusu" routerLinkActive="active">KUHUSU SMARTMTAA</a>
    </p>

    <p class="footer-company-name"> group no 20 &copy; 2017</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Coict udsm</span> Dar es salaam, Tanzania</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>0766181871</p>
      <p>0653292200</p>
      <p>0654988047</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">group20</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>Kuhusu Smartmtaa</span>
      fahamu maoni ya wananchi...pokea mrejesho wa ripoti, taarifa au ujumbe ulio utuma...
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>

  </div>

</footer>


















<!--
<footer class="container-fluid bgfooter text-center">
  <div class="row">
    <div class="col-sm-4"><a href="#"><img src="./assets/images/social-facebook-outline.png" class="socioicion"></a> </div>
    <div class="col-sm-4"><a href="#"><img src="./assets/images/social-linkedin-outline.png" class="socioicion"></a></div>
    <div class="col-sm-4"><a href="#"><img src="./assets/images/social-twitter-outline.png" class="socioicion"></a></div>
  </div>
  <p> Created by<a href="benitoite.co.tz"> Benitoite team</a>, 2017</p>

</footer>
-->
