


<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Smart<span>Mtaa</span></h3>

    <p class="footer-links">
      ·
    <a  routerLink="taarifa" routerLinkActive="active">Matangazo</a>
         <a routerLink="dua" routerLinkActive="active">Malalamiko</a>
         <a routerLink="ripoti" routerLinkActive="active">Ripoti</a>
    </p>

    <p class="footer-company-name"> group 24 2017</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Coict udsm</span> Dar es salaam, Tanzania</p>
    </div>

    <div>47
      <i class="fa fa-phone"></i>
      <p>06549880</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">group no 24</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>Kuhusu Smart mtaa</span>
      fahamu maoni ya wananchi...pokea mrejesho wa ripoti, taarifa au ujumbe ulio utuma...
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>

  </div>

</footer>


















