<footer class="container-fluid bgfooter text-center">
        <div class="row">
            <div class="col-sm-4"><a href="#"><img src="./assets/images/social-facebook-outline.png" class="socioicion"></a> </div>
            <div class="col-sm-4"><a href="#"><img src="./assets/images/social-linkedin-outline.png" class="socioicion"></a></div>
            <div class="col-sm-4"><a href="#"><img src="./assets/images/social-twitter-outline.png" class="socioicion"></a></div>
    <p> Created by<a href="benitoite.co.tz"> Benitoite team</a>, 2017</p>
        </div>
 </footer>
