


<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Smart<span>Mtaa</span></h3>

    <p class="footer-links">
      <a href="#">Karibu</a>
      ·
      <a href="#">Mapendekezo</a>
      ·
      <a href="#">Maoni</a>
      ·
      <a href="#">Kutuhusu</a>
      ·
      <a href="#">Taarifa</a>
      ·
      <a href="#">Mawasiliano</a>
    </p>

    <p class="footer-company-name"> benitoite Company &copy; 2016</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Coict udsm</span> Dar es salaam, Tanzania</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+25571234589</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">benitoite.co.tz</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>Kuhusu Tuseme</span>
      fahamu maoni ya wananchi...pokea mrejesho wa ripoti, taarifa au ujumbe ulio utuma...
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>

  </div>

</footer>


















