<div class="container" *ngIf="model">

  <div class="row page">
    <div class="col-sm-12 mytext">
      <div class="maelezo"><strong>utangulizi: </strong>{{model.title}} </div>
    </div>
    <div class="col-sm-12 mytext">
      <div class="maelezo"><strong>Tangazo: </strong> {{model.body}} </div>
    </div>
  </div>
  <div class="tarifa center" >
  <form>
    <!--<label for="category">Chagua kundi lakufikiwa na ujumbe </label>-->
    <!--<select id="category" name="category_id" [(ngModel)]="model.category_id">-->
      <!--<option *ngFor="let category of ujumbeCategories" [ngValue]="category.id">{{category.category_name}}</option>-->
    <!--</select>-->
    <fieldset>
        <input type="text" name="title" placeholder="Utangulizi wa Tangazo" [(ngModel)]="model.title">
      </fieldset>
    <fieldset>
      <textarea placeholder="Maelezo kwa urefu...." tabindex="5" required [(ngModel)]="model.body" name="body"></textarea>
    </fieldset>
    <p><a (click)="update()" class="btn btn-success pull-right">Rekebisha Tangazo</a></p>

  </form>
</div>
</div>


