.btn-round {
  background-color: #008080;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.btn.btn-success{
  background-color:#008080;
  border-color:#008080 ;
  color: white;

}
.tuma.row{
  margin-top: 90px;
}

.ldr.col-sm-12.col-md-11.col-lg-11{
  border-bottom: 2px solid gray;
  margin-top: 50px;

}
.col-lg-6.col-md-6.col-sm-6.col-xs-12{
  margin-bottom: 10px;
}
.col-lg-3.col-md-3.col-sm-3.col-xs-12{
  margin-bottom: 5px;
}
.leader.col-sm-12.col-md-1.col-lg-1{
  padding-left: 30px;
  margin-top: 50px;

}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #F5F5DC;
  resize: none;
}

fieldset input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #F5F5DC;
}
.tarifa.center {
  margin: auto;
  width: 70%;
  border: 3px solid #F5F5DC;
  padding: 70px;
  background-color: #F5F5DC;
  margin-top: 4px;

}
.pendekezo.btn-success{
  float: right;
  background-color:#008080;
  margin-top: 2px;
}
.glyphicon.glyphicon-menu-left {
  color:white;
}
