<div class="row">

  <div class="archive col-sm-1">
    <a href="#"><button class="goback">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </button></a>
    <button class="linkback" type="button">2016/2017</button>
    <hr>
    <button class="linkback" type="button">2015/2016</button>
    <hr>
    <button class="linkback" type="button">2014/2015</button>
    <hr>
    <button class="linkback" type="button">2013/2014</button>
    <hr>
    <button class="linkback" type="button">2012/2013</button>
  </div>


  <div class="container petitions col-sm-11">
    <h3>Mambo yanayopewa kipaumbele cha msingi na wananchi wa Mlalakua katika kuunda bajeti ya mwaka 2016/2017. </h3>
    <hr>
    <p class="watoamaoni">Idadi ya watoa maoni <span class="watoamaonispan" id="0">
    </span></p>
    <p class="maoniyao">Kutekeleza mradi wa ujenzi wa soko jipya<span class="maoniyaospan" id="1">2655</span></p>
    <p class="maoniyao">Kununua vifaa vya mahabara ya dhanati<span class="maoniyaospan" id="2">2136</span></p>
    <p class="maoniyao">Kuendeleza engo la kliniki ya wakina mama<span class="maoniyaospan" id="3">2201</span></p>
    <p class="maoniyao">Kuongeza matundu ya vyoo shule ya msingi Amani<span class="maoniyaospan" id="4">1992</span></p>
    <p class="maoniyao">Ukarabati wa mitaro na njia za maji taka<span class="maoniyaospan" id="5">992</span></p>

    <br><br>
    <br><br>
    <button class="default" type="button"> Vielelezo </button>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br>
  </div>

</div>
