<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="Mwanzo" href="Maoni">Mwanzo</a></li>
        <li><a href="Ripoti">Kutuhusu</a></li>
        <li><a href="Pendekeza">Wasiliana nasi</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- end of nav section -->

<!--main ection goes in here -->

<div class="container-fluid showbox">

  <div class="greendisplay">

    <div id="myiCarousel" class="carousel slide carouselgreendisplay" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active description">
          <h3>Tuma</h3>
          <p><em>"fikisha taharifa muhimu, ujumbe mfupi, mapendekezo ya bajeti.."</em></p>
        </div>

        <div class="item description">
          <h3>Marejesho</h3>
          <p><em>"pokea mrejesho wa ripoti, taarifa au ujumbe ulio utuma...  L ectuer iscing elit."</em></p>
        </div>

        <div class="item description">
          <h3>Maoni1</h3>
          <p><em>"fahamu maoni ya wananchi... Loremed ut , ectuer iscing elit."</em></p>
        </div>

      </div>
    </div>
    <a href="#myModal" data-toggle="modal" data-target="#myModal"> <button type="button" class="registerbutton">Jisajiri</button></a>
    <a href="#myModal1" data-toggle="modal" data-target="#myModal1"> <button type="button" class="registerbutton">Ingia</button></a>
  </div>

  <div class="screens">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="assets/images/tuma.PNG" alt="Chania" class="responsive">
        </div>

        <div class="item">
          <img src="assets/images/marejesho.PNG" alt="Chania" class="responsive" >
        </div>

        <div class="item">
          <img src="assets/images/Lmaoni.PNG" alt="Flower" class="responsive" >
        </div>

      </div>
    </div>
    <!--  carousel -->
  </div>
</div>

<div class="BDG">
  <a class="navbar-brand" href="#"><img class="Tlogo" src="assets/images/badge.jpg"> </a>
</div>
<br><br>
<br><br>
<br><br>

<!--modal-->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title"><br></h4>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <input class="form-control"  placeholder="Jina la kwanza" type="text" style=" border: 2px solid burlywood !important;">
        </div>
        <div class="form-group">
          <input class="form-control"  placeholder="Jina la mzazi" type="text" style=" border: 2px solid burlywood !important;">
        </div>
        <div class="form-group">
          <input class="form-control"  placeholder="Namba ya mawasiliano" type="text"style=" border: 2px solid burlywood !important;">
        </div>
        <div class="form-group">
          <input class="form-control"  placeholder="Jiji/mji" type="text" style=" border: 2px solid burlywood !important;">
        </div>
        <div class="form-group">
          <input class="form-control"  placeholder="Manispaa" type="text" style=" border: 2px solid burlywood !important;">
        </div>
        <div class="form-group">
          <input class="form-control"  placeholder="Kata" type="text" style=" border: 2px solid burlywood !important;">
        </div>
        <div class="form-group">
          <input class="form-control"  placeholder="Mtaa" type="text" style=" border: 2px solid burlywood !important;">
        </div>

      </div>
      <div class="modal-footer">
        <a href="#" class="btn">Sajili</a>

      </div>
    </div>
  </div>
</div>

<!--end of modal-->

<!--modal2-->
<div class="modal fade" id="myModal1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title"><br></h4>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <input class="form-control"  placeholder="Namba ya mawasiliano" type="text"style=" border: 2px solid burlywood !important;">
        </div>
        <div class="form-group">
          <input class="form-control"  placeholder="Neno la siri" type="text" style=" border: 2px solid burlywood !important;">
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn">Ingia</a>

      </div>
    </div>
  </div>
</div>

<!--end of modal2-->


<!-- end of main section-->
<app-karibu-footer></app-karibu-footer>
