
.textfield {
  margin-bottom: 19px;
  border-color: burlywood;
  border-radius: 3px;
}
#progressbar {
  margin-top: 11px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 3px;
}

.textarea {
  margin-bottom: 20px;
  border-color: burlywood;
  border-radius: 3px;
}

.idadi {
  margin-left: 10px;
  color: cadetblue;
  border-radius: 2px;
}

.button {
  font-size: 18px;
  color: #ffffff;
  width: 110px;
  height: 40px;
  padding-top: 6px;
  margin-left: 300px;
  background-image: url(/assets/images/send-button-strip-m.jpg);
  background-repeat: repeat-x;
  border-radius: 5px;
}



.pagetitle {
  font-size: 32px;
  margin-top: 105px;
}


.text {
  margin-top: 45px;
  padding-left: 19px;
  text-align: left;
  width: 70%;
  border-left: thick solid burlywood;
}

hr {
  background-color: #820912;
  height: 2px;
  margin-top: 5px;
}

.btn-round {
  background-color: #008080;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.btn.btn-success.pull-right{
  background-color:#008080;
  border-color:#008080 ;
  color: white;
margin-bottom: 10px;
  margin-left: 20px;

}
.tuma.row{
  margin-top: 90px;
}
.ldr.col-sm-11.col-md-11.col-lg-11{
  border-bottom: 2px solid #f25841;

}
.leader.col-sm-1.col-md-1.col-lg-1{
  padding-left: 30px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #F5F5DC;
  resize: none;
}

fieldset input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #F5F5DC;
}

.glyphicon.glyphicon-menu-left {
  color:white;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 60px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
#image{
  position: absolute;
  left: 600px;
}
@media(min-width:760px) {
  .tarifa-center {
    top: 51px;
    border: none;
    border-radius: 0;

  }

  .tarifa.center {
    margin: auto;
    width: 760px;
    border: 3px solid #F5F5DC;
    padding: 70px;
    background-color: #F5F5DC;
    margin-top: 4px;

  }
}
.col-sm-3.date,.maelezo,.col-sm-9.mytext{
  word-wrap: break-word;

}
nav {
  padding-top: 7px;
}
.navbar {
  background-color: #4d4d4d;
  letter-spacing: 4px;
}
.col-sm-2.date,.maelezo,.col-sm-9.mytext{
  word-wrap: break-word;

}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.navbar-brand {
  padding-top: 0px;
  padding-left: 10px;
  margin-bottom: 6px;
}

.Tlogo {
  height: 58px;
  width: 200px;
  margin-top: 5px;
  border-radius: 3px;
}

.container ul li:hover {
  color: #ffffff !important;
  border-bottom: 2px solid burlywood;
  border-radius: 3px;
  height: 40px;
}

.Maoni a.Maoni {
  color: #ffffff !important;
  border-bottom: 2px solid burlywood;
  border-radius: 3px;
  height: 40px;
}

.nav li {
  margin-left: 30px;
  margin-top: 10px;
}

.pagetitle {
  font-size: 32px;
  margin-top: 105px;
}
.pagetitle p {
  margin-bottom: 1px;
}
.pagetitle hr {
  margin-top: 1px;
}

.petitions {
  margin-top: 90px;
  width: 80%;
}

.petitions h3 {
  margin-bottom: 0px;
}

.date h3 {
  margin-bottom: 0px;
  margin-top: 0px;
  letter-spacing: 4px;
}

.date h6{
  margin-bottom: 1px;
  margin-top: 1px;
}

.wadhifa {
  color: dimgrey;
  padding-left: 0px;
}

.lengo {
  color: dimgrey;
  padding-left: 0px;
}

#progressbar {
  margin-top: 11px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 3px;
}

#barfill {
  width: 0%;
  height: 7px;
  background-color: #820912;
}

#barfill1 {
  width: 0%;
  height: 7px;
  background-color: #820912;
}

.maelezo {
  border-left: thick solid burlywood;
  border-bottom-left-radius: 3px;
  padding-left: 6px;
}
.row {
  margin-bottom: 26px;
  margin-left: 0px;
}

.default {
  float: right;
  clear: both;
  margin-bottom: 2px;
  font-size: 18px;
  color: #ffffff;
  width: 155px;
  height: 40px;
  padding-top: 6px;
  margin-left: 300px;
  background-image: url(/assets/images/send-button-strip-m.jpg);
  background-repeat: repeat-x;
  border-radius: 5px;
}

.box {
  background-image: url(/assets/images/icon-strip-m.jpg);
  background-repeat: repeat-x;
  color: #fff;
  margin-left: 7.5px;
  margin-right: 7.5px;
  padding-top: 5px;
  padding-bottom: 1px;
  border-radius: 5px;
}

.box p {
  font-size: 18px;
  color: black;
  margin-top: 4px;
}

.box h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

.text {
  margin-top: 45px;
  padding-left: 19px;
  text-align: left;
  width: 70%;
  border-left: thick solid burlywood;
}

form {
  margin-left: 135px;
}

.textfield {
  margin-bottom: 19px;
  border-color: burlywood;
  border-radius: 3px;
}

.textarea {
  margin-bottom: 20px;
  border-color: burlywood;
  border-radius: 3px;
}

.idadi {
  margin-left: 10px;
  color: cadetblue;
  border-radius: 2px;
}

.button {
  font-size: 18px;
  color: #ffffff;
  width: 110px;
  height: 40px;
  padding-top: 6px;
  margin-left: 300px;
  background-image: url(/assets/images/send-button-strip-m.jpg);
  background-repeat: repeat-x;
  border-radius: 5px;
}

.icone {
  height: 80px;
  width: 80px;
  font-size: 50px;
  margin-bottom: 13px;
}

hr {
  background-color: #820912;
  height: 2px;
  margin-top: 5px;
}

.bgfooter{
  background-color: #ffffff;
  margin-top: 0px;
}

.socioicion {
  height: 45px;
  margin-left: 105px;
  margin-right: 120px;
  margin-top: 40px;
}

