
   .archive {
       margin-top: 250px;
       margin-left: 20px;
   }

   .archive hr {
       background-color: #820912;
       height: 1px;
       margin-top: 5px;
   }
   .linkback {
       background: none;
       border: none;
   }

   .ripoti {
       margin-top: 110px;
       width: 80%;
   }

   .maelezo {
       border-left: thick solid burlywood;
       border-bottom-left-radius: 3px;
       padding-left: 6px;
   }

   .marejesho {
       float: right;
   }
   .card {
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
     width: 100%;
     margin-top: 40px;
   }

   .card:hover {
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   }

   .container {
     padding: 2px 16px;
   }
   hr {
       background-color: #820912;
       height: 2px;
       margin-top: 5px;
   }
   .col-sm-9.mytext,.col-sm-3.date{
     word-wrap: break-word;
     margin-top: 15px;
   }
