<div class="row">

      <div class="archive col-sm-1">
      </div>

      <div class="container ripoti col-sm-11">
     <h3><em>{{street.name}}</em></h3>
   <hr>
   <div class="seethroughbox"></div>
        <div class="card" *ngFor="let report of reports">
          <div class="row" style="margin-left: 10px">
        <div class="col-sm-2 date">
       <h3>M/kiti</h3><h6>{{report.created_at}}</h6>
     </div>
     <div class="col-sm-9 mytext">
       <p>{{report.title}}</p>

       <div class="maelezo">{{report.description}}</div>

       <br><br><br><br><br>
       <br>
       <div class="marejesho">
       </div>
     </div>
        </div>
     </div>
   </div>
   </div>
