<div class="row">

      <div class="archive col-sm-1">
       <!--<button class="linkback" type="button">2016/2017</button>-->
       <!--<hr>-->
       <!--<button class="linkback" type="button">2015/2016</button>-->
       <!--<hr>-->
       <!--<button class="linkback" type="button">2014/2015</button>-->
       <!--<hr>-->
       <!--<button class="linkback" type="button">2013/2014</button>-->
       <!--<hr>-->
       <!--<button class="linkback" type="button">2012/2013</button>-->
      </div>

      <div class="container ripoti col-sm-11">
     <h3><em>Mlalakua</em></h3>
   <hr>
   <div class="seethroughbox"></div>
   <div class="card" *ngFor="let report of reports">
   <div class="row">
     <div class="col-sm-3 date">
       <h3>{{report.position_name}}</h3><h6>{{report.created_at}}</h6>
     </div>
     <div class="col-sm-9 mytext">
       <p>{{report.title}}</p>

       <div class="maelezo">{{report.description}}</div>

       <br><br><br><br><br>
       <br>
       <div class="marejesho">
         <!--<input type="checkbox" id="6i" class="">-->
        <!--<label for="6i" id="66">  Nimeielewa ripoti</label>-->
       </div>
     </div>
     </div>
   </div>
   </div>
   </div>
