
   .archive {
       margin-top: 250px;
       margin-left: 20px;
   }

   .archive hr {
       background-color: #820912;
       height: 1px;
       margin-top: 5px;
   }
   .linkback {
       background: none;
       border: none;
   }

   .ripoti {
       margin-top: 110px;
       width: 80%;
   }

   .maelezo {
       border-left: thick solid burlywood;
       border-bottom-left-radius: 3px;
       padding-left: 6px;
   }

   .marejesho {
       float: right;
   }






   hr {
       background-color: #820912;
       height: 2px;
       margin-top: 5px;
   }
