
<div class="tarifa center">
  <p>Orodha ya mapendekezo</p>
  <form id="contact" action="" method="post">
    <fieldset>
      <input type="text" name="fname" placeholder="1.">
    </fieldset>
    <fieldset>
      <input type="text" name="fname" placeholder="2.">
      <div class="zaid">
        <a href="#pende.html" class="pendekezo btn btn-success" >Zaidi</a>
      </div>
    </fieldset>
    <p>Mwisho wa kupokea maoni</p>
    <fieldset>
      <input type="text" name="fname" placeholder="Tarehe">
    </fieldset>
    <p><a href="#" class=" pendekezo btn btn-success">chapa mapendekezo</a></p>

  </form>
</div>
