<div class="container-fluid">
  <div class="tuma row" >
    <div class="leader col-sm-1 col-md-1 col-lg-1">
      <a routerLink="/kiongozi/tuma" class="btn btn-lg btn-round">
        <span class="glyphicon  glyphicon-menu-left " aria-hidden="true"></span>
      </a>
    </div>
    <div class="ldr col-sm-11 col-md-11 col-lg-11">
      <h1>
        <small><strong >Mtendaji </strong>
          Mlalakua&emsp;&emsp;&emsp;&emsp;</small>
        <small><em><a routerLink="/kiongozi/tuma/taarifa/andika">Tuma taharifa</a></em></small>
        &emsp;&emsp;<small><em><a routerLink="/kiongozi/tuma/taarifa/taarifa-zilizotumwa">Taarifa Nilizoandika</a></em></small>

<iframe height="400" width="500" src="https://www.youtube.com/embeded.watch?v=DMhhyVflNJc"></iframe>
      </h1>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

