  <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Jina</th>
                                        <th>Phone NUmber</th>
                                        <th>Email</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let mwananchi of wananchi">
                                        <td>{{mwananchi.first_name}}</td>
                                        <td>{{mwananchi.phone_number}}</td>
                                        <td>{{mwananchi.email}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                   