  <h2>Zifuatazo  ni Kaya zote Zilizopo</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Jina</th>
                                        <th>Maelezo</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let kaya of kayas">
                                        <td>{{kaya.name}}</td>
                                        <td>{{kaya.details}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>