<div class="row">

  <div class="archive col-sm-1">

  </div>


  <div class="container petitions col-sm-11">
    <br>
    <fieldset>
      <div class="item" id="1a">
        <button class="check" onclick="select ()"><input type="checkbox" id="1i"></button>
        <label for="1i" id="11">  Ununuzi wa vitendea kazi kwenye zahanati kuu ya mtaa.</label>
      </div>
      <div class="item" id="2b">
        <button class="check" onclick="select1 ()"><input type="checkbox" id="2i"></button>
        <label for="2i" id="22">  Kuongeza vyoo kwenye shule ya msingi Amani.</label>
      </div>
      <div class="item" id="3c">
        <button class="check" onclick="select2 ()"><input type="checkbox" id="3i"></button>
        <label for="3i" id="33">  Mradi wa soko la kisasa mtaani Mlalakua.</label>
      </div>
      <div class="item" id="4d">
        <button class="check" onclick="select3 ()"><input type="checkbox" id="4i"></button>
        <label for="4i" id="44">  Ukarabati wa mfumo wa maji taka.</label>
      </div>
      <div class="item" id="5e">
        <button class="check" onclick="select4 ()"><input type="checkbox" id="5i"></button>
        <label for="5i" id="55">  Orporis suscipit laboriosam, nisi ut aliquid ex ea.</label>
      </div>
      <div class="item" id="6f">
        <button class="check" onclick="select5 ()"><input type="checkbox" id="6i"></button>
        <label for="6i" id="66">  Orporis suscipit laboriosam, nisi ut aliquid ex ea.</label>
      </div>
    </fieldset>

    <br><br><br>
    <br>
    <div class="container" style="margin-right: 121px;">
      <button style="  font-size: 14px;
        color: white;

        float:right;
        height: 40px;
        width:100px;
        padding-top: 6px;
        margin-left: 30px;
        border-radius: 5px;
        background-image: url(assets/images/send-button-strip-m.jpg);
        background-repeat: repeat-x;
        "  type="button" onclick="Maoni yako yametumwa">Ondoa</button>

      <button style="  font-size: 14px;
        color: white;

        float:right;
        height: 40px;
        width:100px;
        padding-top: 6px;

        border-radius: 5px;
        background-image: url(assets/images/send-button-strip-m.jpg);
        background-repeat: repeat-x;
        "  type="button" onclick="Maoni yako yametumwa">Rekebisha</button>

    </div>

    <br><br>
    <br><br>


  </div>

</div>
