<h5 >Tafadhali jaza fomu hii endapo wewe ni Mtendaji au Mwenyekiti wa mtaa flani</h5>
<div class="form-group">
  <label for="first_name">Jina la kwanza</label>
  <input type="text" class="form-control" id="first_name"
         required
         [(ngModel)]="model.first_name" name="first_name">
</div>

<div class="form-group">
  <label for="surname"> Jina la mwisho</label>
  <input type="text"  class="form-control" id="surname"
         [(ngModel)]="model.surname" name="surname">
</div>
<div class="form-group">
  <label for="phone_number">Namba ya sim</label>
  <input type="text"  class="form-control" id="phone_number"
         [(ngModel)]="model.phone_number" name="phone_number">
</div>

<div class="form-group">
  <label for="email">Barua pepe</label>
  <input type="text"  class="form-control" id="email"
         [(ngModel)]="model.email" name="email">
</div>

<div class="form-group">
  <label for="birth_day">Tarehe Ya Kuzaliwa</label>
  <input type="date"  class="form-control" id="birth_day"
         [(ngModel)]="model.birth_day" name="birth_day">
</div>


<div class="form-group">
  <label for="birth_day">Chagua Cheo chako </label>
 <select [(ngModel)]="leader.position_id" name="position_id">
   <option *ngFor="let position of positions" [ngValue]="position.id">{{position.position_name}}</option>
 </select>
</div>

<div class="form-group">
  <label for="birth_day">Chagua Kaya Yako </label>
 <select [(ngModel)]="model.kaya_id" name="kaya_id">
   <option *ngFor="let kaya of kayas" [ngValue]="kaya.id">{{kaya.name}}</option>
 </select>
</div>

<div class="form-group">
  <label for="birth_day">Chagua Mtaa Wako </label>
 <select [(ngModel)]="model.street_id" name="street_id">
   <option *ngFor="let street of streets" [ngValue]="street.id">{{street.name}}</option>
 </select>
</div>


<div class="form-group">
  <label for="password"> Neno siri</label>
  <input type="password"  class="form-control" id="password"
         [(ngModel)]="model.password" name="password">
</div>

<div class="form-group">
  <label for="confirm"> Rudia Neno siri</label>
  <input type="password"  class="form-control" id="confirm">
</div>

<button [disabled]="loading" type="button" class="btn btn-default" (click)="register()">Sajili</button>
<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
<h5>je ushawahi jisajili smartmtaa?<a routerLink="/karibu/mwanzo/ingia"> bonyeza hapa kuingia</a></h5>

