
<div class="form-group">
  <label for="first_name">Jina la kwanza</label>
  <input type="text" class="form-control" id="first_name"
         required
         [(ngModel)]="model.first_name" name="first_name">
</div>

<div class="form-group">
  <label for="surname"> Jina la mwisho</label>
  <input type="text"  class="form-control" id="surname"
         [(ngModel)]="model.surname" name="surname">
</div>
<div class="form-group">
  <label for="phone_number">Namba ya simu</label>
  <input type="text"  class="form-control" id="phone_number"
         [(ngModel)]="model.phone_number" name="phone_number">
</div>

<div class="form-group">
  <label for="email"> Barua pepe</label>
  <input type="text"  class="form-control" id="email"
         [(ngModel)]="model.email" name="email">
</div>

<div class="form-group">
  <label for="cheo"> Cheo</label>
  <input type="text"  class="form-control" id="cheo"
         [(ngModel)]="cheo" name="cheo">
</div>


<div class="form-group">
  <label for="password"> Neno siri</label>
  <input type="password"  class="form-control" id="password"
         [(ngModel)]="model.password" name="password">
</div>

<div class="form-group">
  <label for="confirm"> Rudia Neno siri</label>
  <input type="password"  class="form-control" id="confirm">
</div>

<button type="button" class="btn btn-default" (click)="register()">Sajili</button>
<h5 ><a (click)="ingia()">una akaunti tayari? bonyeza hapa kuingia</a></h5>

